<html>
  <body>
    <div id="meu-perfil-div">
      <h4>Meu Perfil</h4>
      <div>
        <p>
          <strong>Nome:</strong>
          <%=  @user.nome  %>
        </p>
        <p>
          <strong>e-mail:</strong>
          <%=  @user.email  %>
        </p>
      </div>
    </div>
  </body>
</html>